<h2>Exchange Rates, only for users - no admins allowed</h2>
<div hidden>{{data.message}}</div>

<div class="container" ng-show="loggedIn">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <div class="panel-heading">
                            <h3>Currency converter</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>From</label>
                                <select class="form-control" ng-model="fromCurrency" ng-change="calcConvert()">
                                    <option ng-repeat="currency in currencies" value="{{currency.rate}}">{{currency.code}}</option>
                                </select>                          
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>From</label>
                                <select class="form-control" ng-model="toCurrency" ng-change="calcConvert()">
                                    <option ng-repeat="currency in currencies" value="{{currency.rate}}">{{currency.code}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="currencyValId">From value</label>
                                <input id="fromCurrValId" type="number" class="form-control" placeholder="Enter value" data-ng-model="fromCurrencyVal" ng-change="calcConvert()">
                            </div>
                            <div>
                                <input class="btn btn-info" type="button" value="swap" ng-click="swapCurrency()">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="toCurrValId">To value</label>
                                <input id="toCurrValId" type="number" class="form-control" placeholder="Converted value" data-ng-model="toCurrencyVal"readonly >
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Exchange rates</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover"> 
                        <thead>
                            <tr class="info">
                                <th>Country</th>
                                <th>Description</th>
                                <th>Rate</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currencyRates in currencies">
                                <td>{{currencyRates.code}}</td>
                                <td>{{currencyRates.desc}}</td>
                                <td>{{currencyRates.rate | currency}}</td>
                                <td>{{currencyRates.date |date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>