<h2>Exchange Rates, only for users - no admins allowed</h2>
{{data.message}}

<div class="container">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <legend>Currency converter</legend>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">From</label>
                                <select class="form-control" ng-model="fromCurrency" ng-change="calcConvert()">
                                    <option selected value="100">DKK</option>
                                    <option ng-repeat="currency in currencies" value="{{currency.rate}}">{{currency.code}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">From</label>
                                <select class="form-control" ng-model="toCurrency" ng-change="calcConvert()">
                                    <option selected value="100">DKK</option>
                                    <option ng-repeat="currency in currencies" value="{{currency.rate}}">{{currency.code}}</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">From value</label>
                                <input type="number" class="form-control" placeholder="Enter value" data-ng-model="fromCurrencyVal" ng-change="calcConvert()">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">To value</label>
                                <input type="number" class="form-control" placeholder="Converted value" data-ng-model="toCurrencyVal"readonly >
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>