<div>
    <div class="alert alert-info" role="alert">
        {{returnMessage}}
    </div>
    <form class="form-horizontal" >
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="inputUsername" ng-model="usernameInput" name="usernameInput" placeholder="Username" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="inputPassword" ng-model="passwordInput" name="passwordInput" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="submitUser()" type="submit" class="btn btn-default">Register</button>
            </div>
        </div>

    </form>
</div>